{% extends 'custom-list.html.twig' %}
{% block listItemsBlock %}
  <div class="custom-list--wrap">
    <h3>{{ item.title }}</h3>
    <i>{{ item.author }}</i>
    <div class="custom-list--description">
      {{ item.description }}
    </div>
  </div>
{% endblock %}
