{#
/**
 * @file
 * Default theme implementation for the marquee render element.
 *
 * Available variables:
 * - attributes: Attributes for the marguee tag.
 * - content: The text to display within the marquee tag.
 *
 * @ingroup themeable
 * @ingroup render_example
 */
#}
{{ attach_library('my_theme/my-theme.customList') }}
<div class="custom-list test">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {% for item in list_items %}
    {{ item }}
  {% endfor %}
</div>
